<h2>Instant Message Your Friends with Greet-zings!</h2>
<div class="spacer"></div>
<div class="create_session_links">
    <% if signed_in? %>
      <%= button_to "Sign out", :session, method: :delete %> 

    <% else %>
      <span class="roomy"><%= link_to "Show Sign Up Form", [:new, :user] %></span></p>
    <% end %>
  </div>

<div class="form_for_signup_and_sign_in">  
  <%= form_for :session, url: session_path do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div>
      <%= form.submit "Sign in" %>
    </div>
  <% end %>
</div>
