%h2 Instant Message Your Friends with Greet-zings!
.note Please use fake email and password, this is a demo site without a security certificate
.form_for_signup_and_sign_in
  = form_for :session, url: session_path do |f|
    %div
      = f.label :email
      <span class="greeting_text">#{f.email_field :email}</span>
    %div
      = f.label :password
      <span class="greeting_text">#{f.password_field :password}</span>
    %div
      = f.submit "Sign in"
.center
  .create_session_links
    - if signed_in?
      = button_to "Sign out", :session, method: :delete
    - else
      %h3.sign-up-toggle Not Signed Up, Yet?
      %span.roomy= link_to "Show Sign Up Form", [:new, :user]

