%h2 Instant Message Your Friends with Greet-zings!
.note Please use fake email and password, this is a demo site without a security certificate
.form_for_signup_and_sign_in
  = form_for @user do |f|
    %div
      = f.label :email
      <span class="greeting_text">#{f.email_field :email}</span>
    %div
      = f.label :user_name
      <span class="greeting_text">#{f.text_field :user_name}</span>
    %div
      =f.label :password
      <span class="greeting_text">#{f.password_field :password}</span>
    %div
      = f.submit "Sign up"
.center
  .create_session_links
    - if signed_in?
      = button_to "Sign out", :session, method: :delete
    - else
      %h3.sign-up-toggle Already One of Us?
      %span.roomy= link_to "Show Sign In Form", [:new, :session]

