


Signed in as <%= current_user.user_name %> 
		
<div class="form_for_greetings">
<%= form_for @greeting do |f| %>
<%= f.label :body, "Send" %>
<%= f.text_field :body, placeholder: "Greetings, earthling!" %>
<%= f.label :receiver, "to" %>
<%= f.collection_select :receiver_id, @users, :id, :user_name  %>
<%= f.submit "Greet!" %>
<% end %>
</div>


<div class="block_o_greetings" id="the_greetings">
<%= render @greetings %>
</div>

<script>
		window.pusher_key = "<%= ENV.fetch("PUSHER_PUBLIC_KEY") %>";
		window.pusher_channel = "<%= current_user.id %>"
</script> 