<!DOCTYPE html>
<html>
<head>
  <title>Greetr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky:400" rel="stylesheet" type="text/css">

	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,900' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

	
</head>

<body>
	<% if signed_in? %>
	<span class="sign_out_link"><%= link_to "Sign out", :session, method: :delete %></span> 
	<% end %>

	<!-- <h1 >ExtraterrestreeYoz</h1> -->
	<h1 >Greet-Zings!</h1> 

	<div class="spaceship">
	  <div class="bubble"></div>
	  <div class="ship_base"></div>
	</div>

	<div class="spacer"></div>
	

	<%= yield %>


	<script src="//js.pusher.com/2.2/pusher.min.js"></script>
</body>

</html>
